// style général

html {
	font-size: 16px;
}

body {
font-family: 'Open Sans', 'sans-serif';
background-color: #f3f3f3;
}

section {
	padding-top: 6.25rem;
	padding-bottom: 6.25rem;
	  hr{
		background: #da0000;
		margin-top: 1rem;
		margin-bottom: 2rem;
	    }
	}


hr {
	width: 5rem;
	height: .3125rem;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: inherit;
}

//header
.navbar-responsive {
background-color: #282828;

	ul {
	text-align: center;
	li {
		height: 4rem;
		@include font(1.125rem, 300, 4rem, #fff);
	}
	a {
			color: inherit;
		    }		  
	}
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

header {
width: 100%;
height: 40.625rem;
background-image: url('../img/images/image_header6.jpg');
background-attacment: fixed;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
	.logonavbar {
		width: 100%;
		padding-top: 3.125rem;
		.logo {

			h1{
				@include font(2.2rem, 700, 2.5rem, #fff);

				  span{
				  	font-weight: 400;
				  }  
			}
			hr{
				background: #fff;
				margin: 0;
			}
			h2{
				@include font(0.800rem, 300, .800rem, #fff);
				opacity: .5;
				margin-top: 1.875rem;
			}
		}
	.navbar {
		ul {
			float: right;
			  li {
	            float: left;
	            @include font(1.125rem, 300, 2.5rem, #fff);
		         }
		         li + li {
		    	margin-left: 3rem;
		           }
		      a {
		    	color: inherit;
		    	&.hvr-underline-from-left::before {
		    	background: #38f3f3;
		          }
				}				      
		}
	}

	img.menu {
			width: 2.5rem;
	}
  }

  h1.catchphrase {
  	@include font(3.125rem, 300, 3.125rem, #fff);
  	// text-transform: uppercase;
  	text-align: center;
  	margin-top: 9rem;

  	span {
  		font-weight: 600;
  	}
  }

  a.down-arrow {
  	display: block;
  	width: 4.125rem;
  	margin: auto;
  	margin-top: 6.875rem;

  	img{
  		width: 100%;
  		animation: arrow 1s ease-in-out infinite alternate
  	}
  }
  @keyframes arrow {
  	from {
  		opacity: 1;
  		margin-top: 0;
  	}

  	to {
	opacity: .2;
	margin-top: 2rem;
  	}
  }
  
}


// style à propos

.about {
	h2{
	@include font(2.1875rem, 800, 2.1875rem, #282828);
	text-align: center;
	}

	h3 {
		margin-bottom: 2rem;
		@include font(1.5625rem, 600, 1.5625rem, #282828);
	}

	p {
		margin-bottom: 2rem;
		@include font(1.25rem, 400, 1.875rem, #282828);
	}

	ul {
		list-style: url('../img/icones/puce.png');
		@include font(1.25rem, 700, 1.875rem, #282828);
		margin-bottom: 2rem;
		list-style-position: inside;
		a {
		color: #e00000;
		text-decoration: underline;
	}
	}

	img.picture {
		float: right;
		max-width: 100%;
	}

	img.upload {
		width: 2.1875rem;
	}



	p.button {
		font-size: 1rem;
		border: 1px #aaa7a7 solid;
		color: #aaa7a7; 
		padding: .5rem;
		width: 40%;
		transition: border ease-in-out 0.5s,
		color ease-in-out 0.5s;
	}

	p.button:hover {
		 color: #d70000;
		border: 1px #d70000 solid;
	}

	p.button-responsive {
		display: none;
	}

	@media all and (max-width: 1200px) {
		p.button {
			display: none;
		}

		p.button-responsive {
		display: block;
		color: #d70000;
		font-size: 1rem;
		text-decoration: underline;
	}
	}
    .social-networks {
    	text-align: center;
    	a {
    		+ a {
    			margin-left: 0.3125rem;
    			}
    		
    		img {
    			width: 2.1875rem;
    		}
    	}
    }
}

// section skills

.skill {
	background-color: #282828;


	h2 {
		text-align: center;
		@include font(2.1875rem, 800, 2.1875rem, #f3f3f3);
	}

	strong {
		color: #c4c4c4;
	}

	p {
		margin-bottom: 4.875rem;
		@include font(1.25rem, 400, 1.25rem, #ccc);
		text-align: center;
	}

	.flex{
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-top: 1.5625rem;
		
		.percent {
		@include font(2.1875rem, 700, 2.1875rem, #f3f3f3);
	}

	.progress-container {
		width: 80%;
	}

	.progress {
		margin-top: 1rem;
		border-radius: 0;
		background-color: #656565;
	}

	.progress-bar {
		background-color: #38f3f3;
	}

	}


}

// section expériences

.experience {
	h2 {
		text-align: center;
		@include font(2.1875rem, 800, 2.1875rem, #282828);
	}

	hr {
		margin-bottom: 0;
	}

	article {
		position: relative;
		margin-top: 4.375rem;
		background-color: #282828;
		padding: 1.25rem 2.1875rem 3.4375rem;

		.periode {
			position: absolute;
			height: 4.375rem;
			background: #da0000;
			top: -1.125rem;
			left: -.875rem;
			padding-left: 1rem;
			padding-right: 1rem;
			@include font(1.5625rem, 400, 4.375rem, #fff);
		}

		h3,
		h4 {
			text-align: right;
		}

		h3 {
			@include font(1.5625rem, 700, 1.5625rem, #fff);
		}

		h3::before {
				content: url('../img/icones/puce.png');
				padding-right: .625rem;
			}
		h4 {
			margin-bottom: 2.85rem;
			@include font(.9375rem, 400, .9375rem, #8b8b8b);
		}

		p {
			@include font(1.125rem, 400, 1.875rem, #ccc);
		}
	}
}

// section realisations

.work {
	background-color: #dadada;

	h2 {
		text-align: center;
		@include font(2.1875rem, 800, 2.1875rem, #282828);
	}

	p {
		margin-bottom: 5.25rem;
		text-align: center;
		@include font(1.5625rem, 400, 1.5625rem, #282828);
	}

	figure {
		position: relative;
		margin-bottom: 0;
		margin-top: 1rem;

		img {
			width: 100%;
		}

		figcaption {
			position: absolute;
			top: .5rem;
			bottom: .5rem;
			right: .5rem;
			left: .5rem;
			background-color: #fff;
			opacity: 0;
			padding-top: 3.875rem;
			transition: opacity .6s ease;

			&:hover {
				opacity: .9;
			}

			h3,
			h4 {
				text-align: center;
			}

			h3 {
				margin-bottom: 1rem;
				@include font(1.25rem, 700, 1.25rem, #282828);
			}

			h4 {
				margin-bottom: 2rem;
				@include font(.875rem, 400, .875rem, #282828);	
			}

			a {
				display : block;
				width: 1.625rem;
				margin: auto;
			}
		}

	}
}

.expand {
	background-color: #282828;
	padding-bottom: 2.5rem;

		h2 {
			padding-bottom: 2.5rem;
			padding-top: 2.5rem;
			@include font(2.1875rem, 800, 2.1875rem, #fff);
			text-align: left;
		}

		h3 {
		@include font(1.675rem, 700, 1.675rem, #fff);	
		}

		p {
		@include font(1rem, 400, 1.5rem, #fff);	
		text-align: left;	
		margin: 0;
		}

		img {
			max-width: 100%;
			border: 4px solid #dadada;
		}

		.close {
			border: none;
		}

		.detail {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: start;
		}
	}


// style footer

footer {

p {
	margin-top: 4.375rem;
	margin-bottom: 1.5rem;
	text-align: center;
	@include font(1.125rem, 400, 1.125rem, #666);
}

ul {
	margin-bottom: 4.375rem;
	text-align: center;

	li {
		display: inline;
		@include font(1.125rem, 400, 1.125rem, #282828);

		a {
			color: inherit;
		}
	}
}

}